---
---

<nav class="navbar">
    <div class="container">
        <h1 class="logo">Our Story</h1>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/memories">Memories</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
</nav>
